# Sequence Data Operations

## Slicing
objects which supports sequence protocol

``Syntax: slice(start,stop,step)``

In [66]:
strExm = 'learning'
lstExm = [1,2,'a','sam',2]  
from array import *
arrExm = array('i',[1,2,3,4])
tupExm = (1,2,3,4,3,'py')
setSample = {'example',24,87.5,'data',4,'data'}
dictSample = {1:'first','second':2,3:3,'four':'4'}
rangeSample = range(1,12,4)

In [67]:
print(strExm)
strExm[slice(1,4,2)]           #getting substring 'er'

learning

'er'

In [68]:
strExm[:]                        # whole output

'learning'

In [69]:
print(lstExm)
print(lstExm[:3])                  #slicing start at begining
print(lstExm[2:])                  #slicing end at ending

[1, 2, 'a', 'sam', 2]
[1, 2, 'a']
['a', 'sam', 2]

In [70]:
lstExm[2:4]                        # sliced between index 2 and 4

['a', 'sam']

In [71]:
dictSample[1:3]              # type error slice operation invalid

KeyError: slice(1, 3, None)

In [ ]:
setSample[1:2]                      # type error slice operation invalid

TypeError: 'set' object is not subscriptable

In [6]:
for x in arrExm: print(x)
arrExm[1:]

1
2
3
4

array('i', [2, 3, 4])

In [10]:
arrExm[1:-1]

array('i', [2, 3])

In [14]:
for x in rangeSample: print(x)
print(rangeSample[:-1])

1
5
9
range(1, 9, 4)

## Concatenation
`` syntax:' , '/' + '/' += ' ``

In [21]:
print(strExm+' ','python')   # learning python
print(strExm)
newStr = strExm+' ','python'
print(newStr)

learning  python
learning
('learning ', 'python')

In [22]:
print(lstExm)
lstExm+['py']

[1, 2, 'a', 'sam', 2]

[1, 2, 'a', 'sam', 2, 'py']

In [41]:
print(arrExm)
arrExm+[50,60]      # TypeError: can only append array to array

array('i', [1, 2, 3, 4])

TypeError: can only append array (not "list") to array

In [42]:
arrExm+array('i',[50,60])      # append array to array

array('i', [1, 2, 3, 4, 50, 60])

In [43]:
tupExm+=('th','on')
print(tupExm)

(1, 2, 3, 4, 3, 'py', 'th', 'on')

In [44]:
print(setSample)
setSample=setSample,24     #convert to tuple with comma separated element of  
                           # set, dict, range

{'data', 4, 87.5, 'example', 24}

## Multiplication
`` Syntax: object*integer ``

In [51]:
strExm*=3          # concatenate 3 times
print(strExm)

learninglearninglearning

In [58]:
lstExm*2          # repeat list 2 times

[1, 2, 'a', 'sam', 2, 1, 2, 'a', 'sam', 2]

In [59]:
lstExm[1]*=2      # multiply 2 with 2
print(lstExm)

[1, 4, 'a', 'sam', 2]

In [60]:
lstExm[2]*=2     # aa
print(lstExm)

[1, 4, 'aa', 'sam', 2]

In [64]:
lstExm[2]*=2  
print(lstExm)   #aaaa

[1, 4, 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', 'sam', 2]

In [65]:
print(tupExm)
tupExm[2:4]*2                    #concatenate sliced tuple twice

(1, 2, 3, 4, 3, 'py')

(3, 4, 3, 4)

In [ ]:
arrExm*2                        # repeat array

In [ ]:
rangeSample*2                  #type error